In [75]:
import pandas as pd

In [76]:
pd.__version__

'2.1.3'

In [77]:
df_taxi  = pd.read_csv('taxi+_zone_lookup.csv', nrows=10)

In [78]:
df_taxi

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

In [79]:
df_green5 = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip', nrows=5)

In [80]:
df_green5

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0,NaN,0.3,14.16,1,1,0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0,NaN,0.3,13.30,2,1,0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0,NaN,0.3,13.30,2,1,0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0,NaN,0.3,10.30,1,1,0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0,NaN,0.3,18.36,1,1,0

In [81]:
from sqlalchemy import create_engine

In [82]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [83]:
engine.connect()

In [84]:
print(pd.io.sql.get_schema(df_taxi, name='taxi_zone',con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [85]:
print(pd.io.sql.get_schema(df_green5, name='green_taxi',con=engine))

CREATE TABLE green_taxi (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount BIGINT,
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge BIGINT
)

In [87]:
df_green_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip',iterator=True,chunksize=2000)

In [88]:
df_import_green = next(df_green_iter)

In [89]:
len(df_import_green)

2000

In [90]:
df_import_green.lpep_pickup_datetime= pd.to_datetime(df_import_green.lpep_pickup_datetime ) 
df_import_green.lpep_dropoff_datetime = pd.to_datetime( df_import_green.lpep_dropoff_datetime)

In [91]:
df_import_green.head(n=0) ##this will only have the eable columns name

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [92]:
## This is the line to create table -green_taxi

In [93]:
df_import_green.head(n=0).to_sql(name='green_taxi',con=engine,if_exists ='replace')

0

In [94]:
## this is to insert data , with iter  ( the first batch)

In [95]:
%time df_import_green.to_sql(name='green_taxi',con=engine,if_exists ='append')

CPU times: user 132 ms, sys: 12.3 ms, total: 144 ms
Wall time: 224 ms

1000

In [96]:
from time import time

In [97]:
# second to last batch , it will exit with exception
i = 2
while True: 
    t_start = time()
    df_import_green = next(df_green_iter)
    df_import_green.lpep_pickup_datetime= pd.to_datetime(df_import_green.lpep_pickup_datetime ) 
    df_import_green.lpep_dropoff_datetime = pd.to_datetime( df_import_green.lpep_dropoff_datetime)
    df_import_green.to_sql(name='green_taxi',con=engine,if_exists ='append')
    t_end = time()
    print('inserted ' ,i,' batch'   , (t_end - t_start))
    i+= 1

inserted  2  batch 0.22566485404968262
inserted  3  batch 0.24815940856933594
inserted  4  batch 0.21948981285095215
inserted  5  batch 0.19478559494018555
inserted  6  batch 0.19425439834594727
inserted  7  batch 0.2022705078125
inserted  8  batch 0.2576315402984619
inserted  9  batch 0.19383788108825684
inserted  10  batch 0.19413065910339355
inserted  11  batch 0.2886815071105957
inserted  12  batch 0.2050778865814209
inserted  13  batch 0.20096063613891602
inserted  14  batch 0.19745588302612305
inserted  15  batch 0.19744563102722168
inserted  16  batch 0.19640421867370605
inserted  17  batch 0.3883552551269531
inserted  18  batch 0.2567458152770996
inserted  19  batch 0.1923661231994629
inserted  20  batch 0.1960163116455078
inserted  21  batch 0.20482683181762695
inserted  22  batch 0.24276232719421387
inserted  23  batch 0.2301943302154541
inserted  24  batch 0.2562694549560547
inserted  25  batch 0.21164298057556152
inserted  26  batch 0.30086517333984375
inserted  27  batch 0.2216968536376953
inserted  28  batch 0.19307208061218262
inserted  29  batch 0.21296095848083496
inserted  30  batch 0.20586681365966797
inserted  31  batch 0.20218110084533691
inserted  32  batch 0.19398188591003418
inserted  33  batch 0.19383978843688965
inserted  34  batch 0.1957716941833496
inserted  35  batch 0.2111220359802246
inserted  36  batch 0.22521591186523438
inserted  37  batch 0.20122241973876953
inserted  38  batch 0.19618010520935059
inserted  39  batch 0.21295905113220215
inserted  40  batch 0.20736432075500488
inserted  41  batch 0.19527745246887207
inserted  42  batch 0.2003920078277588
inserted  43  batch 0.21131181716918945
inserted  44  batch 0.20035767555236816
inserted  45  batch 0.20914077758789062
inserted  46  batch 0.373673677444458
inserted  47  batch 0.19584393501281738
inserted  48  batch 0.2356281280517578
inserted  49  batch 0.2051844596862793
inserted  50  batch 0.19565486907958984
inserted  51  batch 0.23601150512695312
inserted  52  batch 0.21953058242797852
inserted  53  batch 0.1920490264892578
inserted  54  batch 0.2061765193939209
inserted  55  batch 0.2027127742767334
inserted  56  batch 0.23084545135498047
inserted  57  batch 0.3032846450805664
inserted  58  batch 0.2091529369354248
inserted  59  batch 0.19860553741455078
inserted  60  batch 0.19653892517089844
inserted  61  batch 0.1927928924560547
inserted  62  batch 0.20071887969970703
inserted  63  batch 0.20915937423706055
inserted  64  batch 0.23238134384155273
inserted  65  batch 0.30039191246032715
inserted  66  batch 0.25861096382141113
inserted  67  batch 0.24337482452392578
inserted  68  batch 0.19510364532470703
inserted  69  batch 0.2684512138366699
inserted  70  batch 0.19578886032104492
inserted  71  batch 0.24992823600769043
inserted  72  batch 0.22636747360229492
inserted  73  batch 0.1943354606628418
inserted  74  batch 0.264629602432251
inserted  75  batch 0.39355015754699707
inserted  76  batch 0.22040343284606934
inserted  77  batch 0.19710826873779297
inserted  78  batch 0.19616317749023438
inserted  79  batch 0.19435977935791016
inserted  80  batch 0.20472073554992676
inserted  81  batch 0.21103906631469727
inserted  82  batch 0.19671392440795898
inserted  83  batch 0.22872042655944824
inserted  84  batch 0.2533442974090576
inserted  85  batch 0.2054424285888672
inserted  86  batch 0.19286322593688965
inserted  87  batch 0.2430717945098877
inserted  88  batch 0.20942950248718262
inserted  89  batch 0.19892263412475586
inserted  90  batch 0.25301337242126465
inserted  91  batch 0.21494340896606445
inserted  92  batch 0.30503129959106445
inserted  93  batch 0.2848649024963379
inserted  94  batch 0.2154829502105713
inserted  95  batch 0.25203919410705566
inserted  96  batch 0.2020244598388672
inserted  97  batch 0.24557113647460938
inserted  98  batch 0.2537400722503662
inserted  99  batch 0.19855213165283203
inserted  100  batch 0.2007770538330078
inserted  101  batch 0.19980716705322266
inserted  102  batch 0.2422475814819336
inserted  103  batch 0.21310925483703613
inserted  104  batch 0.3336632251739502
inserted  105  batch 0.2010180950164795
inserted  106  batch 0.2069072723388672
inserted  107  batch 0.3442842960357666
inserted  108  batch 0.31794047355651855
inserted  109  batch 0.1996772289276123
inserted  110  batch 0.24109339714050293
inserted  111  batch 0.2054741382598877
inserted  112  batch 0.19569873809814453
inserted  113  batch 0.27191925048828125
inserted  114  batch 0.2332158088684082
inserted  115  batch 0.19489359855651855
inserted  116  batch 0.20250391960144043
inserted  117  batch 0.19500946998596191
inserted  118  batch 0.22948837280273438
inserted  119  batch 0.20479774475097656
inserted  120  batch 0.3016703128814697
inserted  121  batch 0.2043445110321045
inserted  122  batch 0.2019810676574707
inserted  123  batch 0.20448780059814453
inserted  124  batch 0.2060680389404297
inserted  125  batch 0.20246195793151855
inserted  126  batch 0.201524019241333
inserted  127  batch 0.21085643768310547
inserted  128  batch 0.20352506637573242
inserted  129  batch 0.20292401313781738
inserted  130  batch 0.2357041835784912
inserted  131  batch 0.20147967338562012
inserted  132  batch 0.34225940704345703
inserted  133  batch 0.20321941375732422
inserted  134  batch 0.20751142501831055
inserted  135  batch 0.19334173202514648
inserted  136  batch 0.20296740531921387
inserted  137  batch 0.27937793731689453
inserted  138  batch 0.2228984832763672
inserted  139  batch 0.42900776863098145
inserted  140  batch 0.19837689399719238
inserted  141  batch 0.19772720336914062
inserted  142  batch 0.19344663619995117
inserted  143  batch 0.2362966537475586
inserted  144  batch 0.21796584129333496
inserted  145  batch 0.20262598991394043
inserted  146  batch 0.20123696327209473
inserted  147  batch 0.20111465454101562
inserted  148  batch 0.22449636459350586
inserted  149  batch 0.19559812545776367
inserted  150  batch 0.19955801963806152
inserted  151  batch 0.2029268741607666
inserted  152  batch 0.19480323791503906
inserted  153  batch 0.19983434677124023
inserted  154  batch 0.3319246768951416
inserted  155  batch 0.19778895378112793
inserted  156  batch 0.19995617866516113
inserted  157  batch 0.25081896781921387
inserted  158  batch 0.2000739574432373
inserted  159  batch 0.25289273262023926
inserted  160  batch 0.2535271644592285
inserted  161  batch 0.4644134044647217
inserted  162  batch 0.22253060340881348
inserted  163  batch 0.20604944229125977
inserted  164  batch 0.19859051704406738
inserted  165  batch 0.23086094856262207
inserted  166  batch 0.23823833465576172
inserted  167  batch 0.2251598834991455
inserted  168  batch 0.19482684135437012
inserted  169  batch 0.19406962394714355
inserted  170  batch 0.20227861404418945
inserted  171  batch 0.194960355758667
inserted  172  batch 0.20118117332458496
inserted  173  batch 0.1964404582977295
inserted  174  batch 0.1992344856262207
inserted  175  batch 0.227463960647583
inserted  176  batch 0.2248234748840332
inserted  177  batch 0.1962583065032959
inserted  178  batch 0.20143485069274902
inserted  179  batch 0.19361352920532227
inserted  180  batch 0.20733141899108887
inserted  181  batch 0.21742606163024902
inserted  182  batch 0.26007771492004395
inserted  183  batch 0.287614107131958
inserted  184  batch 0.20939254760742188
inserted  185  batch 0.24241900444030762
inserted  186  batch 0.19865036010742188
inserted  187  batch 0.200089693069458
inserted  188  batch 0.1943526268005371
inserted  189  batch 0.20487260818481445
inserted  190  batch 0.3375234603881836
inserted  191  batch 0.21991276741027832
inserted  192  batch 0.19710636138916016
inserted  193  batch 0.20392680168151855
inserted  194  batch 0.24445462226867676
inserted  195  batch 0.19788098335266113
inserted  196  batch 0.18387222290039062
inserted  197  batch 0.16730737686157227
inserted  198  batch 0.17867207527160645
inserted  199  batch 0.17069387435913086
inserted  200  batch 0.30606579780578613
inserted  201  batch 0.17849469184875488
inserted  202  batch 0.17174792289733887
inserted  203  batch 0.17992138862609863
inserted  204  batch 0.1911633014678955
inserted  205  batch 0.2153148651123047
inserted  206  batch 0.17905378341674805
inserted  207  batch 0.2507355213165283
inserted  208  batch 0.20126032829284668
inserted  209  batch 0.19985342025756836
inserted  210  batch 0.17430520057678223
inserted  211  batch 0.17058849334716797
inserted  212  batch 0.17184925079345703
inserted  213  batch 0.2667708396911621
inserted  214  batch 0.1771230697631836
inserted  215  batch 0.22809219360351562
inserted  216  batch 0.2227473258972168
inserted  217  batch 0.19987249374389648
inserted  218  batch 0.3103601932525635
inserted  219  batch 0.16868138313293457
inserted  220  batch 0.17110061645507812
inserted  221  batch 0.17112112045288086
inserted  222  batch 0.17484164237976074
inserted  223  batch 0.172440767288208
inserted  224  batch 0.17351603507995605
inserted  225  batch 0.24402832984924316

StopIteration:

In [86]:
## this is for the taxi_zone

In [98]:
df_zone_iter  = pd.read_csv('taxi+_zone_lookup.csv',iterator=True,chunksize=100)
df_import_zone = next(df_zone_iter)
df_import_zone.head(n=0).to_sql(name='taxi_zone',con=engine,if_exists ='replace')

0

In [99]:
%time df_import_zone.to_sql(name='taxi_zone',con=engine,if_exists ='append')
i = 2
while True: 
    t_start = time()
    df_import_zone = next(df_zone_iter)
    df_import_zone.to_sql(name='taxi_zone',con=engine,if_exists ='append')
    t_end = time()
    print('inserted ' ,i,' batch in taxi_zone'   , (t_end - t_start))
    i+= 1

CPU times: user 6.16 ms, sys: 0 ns, total: 6.16 ms
Wall time: 27.6 ms
inserted  2  batch in taxi_zone 0.023815155029296875
inserted  3  batch in taxi_zone 0.013680696487426758

StopIteration: